.table {
  border-collapse: collapse;
}

.cell {
  width: 35px;
  height: 35px;
}

.cellTopWall {
  border-top: 2px solid black;
}

.cellBottomWall {
  border-bottom: 2px solid black;
}

.cellLeftWall {
  border-left: 2px solid black;
}

.cellRightWall {
  border-right: 2px solid black;
}
